trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  ACR_NAME: bilinguiacr
  ACR_LOGIN_SERVER: bilinguiacr.azurecr.io
  ACR_USERNAME: bilinguiacr

steps:
- checkout: self
  clean: true

- task: Bash@3
  displayName: Login, build and push
  env:
    AZURE_CLIENT_ID: $(AZURE_CLIENT_ID)
    AZURE_CLIENT_SECRET: $(AZURE_CLIENT_SECRET)
    AZURE_TENANT_ID: $(AZURE_TENANT_ID)
    ACR_NAME: $(ACR_NAME)
    ACR_LOGIN_SERVER: $(ACR_LOGIN_SERVER)
    ACR_USERNAME: $(ACR_USERNAME)
    ACR_PASSWORD: $(ACR_PASSWORD)
  inputs:
    targetType: inline
    script: |
      set -e
      az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET --tenant $AZURE_TENANT_ID
      echo "$ACR_PASSWORD" | docker login $ACR_LOGIN_SERVER -u $ACR_USERNAME --password-stdin
      docker build -t $ACR_LOGIN_SERVER/backend:latest backend
      docker push $ACR_LOGIN_SERVER/backend:latest
